In [1]:
import pandas as pd
import os
data_path =  os.getcwd()
# folders names
categories = ["business", "tech", "politics", "sport", "entertainment"]
# paths to folders
folder_path = [data_path + "/bbc/" + categories[i] for i in range(len(categories))]
# names of files in every folder
file_path = []
for i in range(len(folder_path)):
    file_path_one_categ = [folder_path[i]+ "/" + file_name for file_name in os.listdir(folder_path[i])]
    file_path.append(file_path_one_categ)

# read all files
file_text = []
for i in range(len(categories)):
    file_text_one_categ = []
    for path in file_path[i]:
        with open(path, errors="replace") as open_file:
            file_text_one_categ.append(open_file.read())
    file_text.append(file_text_one_categ)

In [12]:
# concatenate all into single data.frame
dataFrame_list = []
for i in range(len(file_text)):
    data_one_cat = pd.DataFrame([file_text[i], [categories[i]]*len(file_text[i])])
    data_one_cat = data_one_cat.transpose()
    data_one_cat.columns= ["text", "category"]
    dataFrame_list.append(data_one_cat)

data_all = pd.concat(dataFrame_list)

510
510
401
401
417
417
511
511
386
386

In [41]:
print(data_all.groupby("category").count())
data_all.tail(5)

               text
category
business        510
entertainment   386
politics        417
sport           511
tech            401

                                                  text       category
381  Dutch watch Van Gogh's last film\n\nThe last f...  entertainment
382  Alicia Keys to open US Super Bowl\n\nR&B star ...  entertainment
383  Obituary: Dame Alicia Markova\n\nDame Alicia M...  entertainment
384  Russian film wins BBC world prize\n\nRussian d...  entertainment
385  Spider-Man creator wins profits\n\nSpider-Man ...  entertainment

In [47]:
data_all.reset_index().to_feather(fname="dataFrame.feather")

(2225, 3)